/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root{
    /* colors*/
  --primary-clr: hsla(106, 10%, 26%, 1);
  --secondary-clr: hsla(135, 39%, 47%, 1);
  --light-gray: hsla(35, 38%, 94%, 1);
  --marigold: hsla(39, 84%, 60%, 1);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  
  /*  Typography */
  --ff-poppins: "Poppins", sans-serif;
  
  --fs-1: 7rem;
  --fs-2: 4.2rem;
  --fs-3: 3.8rem;
  --fs-4: 3.6rem;
  --fs-5: 3.4rem;
  --fs-6: 3.2rem;
  --fs-7: 3rem;
  --fs-8: 2.4rem;
  --fs-9: 2rem;
  --fs-10: 1.8rem;
  --fs-11: 1.4rem;
  --fs-12: 1.2rem;
  
  --fw-500: 500;
  --fw-700: 700;
  
  /* spacing */
  --section-padding: 100px;
  
  /* Border Radius */
  --radius-circle: 50%;
  --radius-20: 20px;
  --radius-15: 15px;
  --radius-10: 10px;
  
  /* Box Shadow */
  --shadow-1: 0 0 30px 4px hsla(0, 0%, 0%, 0.05);
  --shadow-2: -1px 15px 26px -4px hsla(0, 5%, 61%, 0.15);
  
  /* Transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }